body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #ffd700;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.header h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.header p {
    font-size: 1.2em;
    margin-bottom: 40px;
}
   

.btn-header {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    background-color: #ff6347;
    color: #fff;
    border: 2px solid #ff6347;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.btn-header:hover {
    background-color: transparent;
    color: #ff6347;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 20px;
    background-color: #f5f5f5;
}

.menu-item {
    text-align: center;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    width: 100%;
    border-radius: 5px;
}

.menu-item h2 {
    font-size: 1.5em;
    margin-top: 10px;
}

.menu-item p {
    font-size: 1em;
    margin-top: 10px;
}

.contact {
    text-align: center;
    padding: 50px 20px;
}

.contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.btn-contact {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    background-color: #ff6347;
    color: #fff;
    border: 2px solid #ff6347;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.btn-contact:hover {
    background-color: transparent;
    color: #ff6347;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
